.header{
  height: 680px;
  background-image: url(../images/banners-1.jpg);
  background-size: cover;
}
.container{
  width: 1450px;
  margin: 0px auto;
}
.title-bar{
  background-color: #222222;
  color: white;
  font-family: sans-serif;
  padding: 2px;
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.nav-manu{
  display: inline;
  text-transform: uppercase;
  list-style: none;
  margin: 0px 20px;
}
.nav-manu a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.button-items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-items i{
  color: #fff;
  font-size: 24px;
  margin: 0px 15px;
}
.button-items input{
  height: 40px;
  width: 200px;
  padding: 15px;
  padding-right: 30px;
  background-color: #fff;
  border: none;
  outline: noine;
  border-radius: 25px;
}
.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchbox i{
  color: #000;
  font-size: 16px;
  opacity: 0.7;
  position: absolute;
  right: 0;
}